<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-1.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/aruco_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


  <!-- Camera node -->
 <param name="camera_name" value="camera"/>

 


 <!-- Start  Aruco detection node -->
  <node name="aruco_detector_cpp" pkg="camera_xacro" type="aruco_detector_cpp" output="screen" />


  <!-- Parameter to load the URDF -->
  <!-- <param name="aruco_description" textfile="$(find camera_xacro)/urdf/aruco_tag.urdf" /> -->


 <!-- Spawn the ArUco tag -->
  <!-- <node name="spawn_urdf_aruco" pkg="gazebo_ros" type="spawn_model" args="-urdf -param aruco_description -model aruco_tag" /> -->


  


</launch>
